{% extends '_base.html' %}
{% load humanize %}
{% block title %}Product{% endblock title %}
{% block content %}
    <div class="container-fluid my-3"><h2>Welcome to Product Page!</h2> </div>
    <div class="container-fluid my-2">
        <div class="row row-cols-3">
            {% for product in product_list %}
                <div class="col my-3">
                    <p><a href="{{ product.get_absolute_url }}">{{ product.product_name }}</a></p>
                    {% comment %} <p>Vendor: <a href="{}">{{ product.vendor }}</a></p>  {% endcomment %}
                    <div >
                        {% if product.photo %}
                            <img class="img-thumbnail" style="height:200px" src='{{ product.photo.url }}' alt="{{ product.product_name }}">
                        {% else %}
                            <img class="img-thumbnail" style="height:200px"  src='/media/covers/images.jpeg' alt="{{ product.product_name }}">
                        {% endif %}
                    </div>
                    <p class="my-2"><b>Price: </b>{{ product.price | intcomma }} VND</p> 
                    <form class="d-flex justify-content-left my-2">
                        <!-- Default input -->
                        {% comment %} <input type="number" value="1" aria-label="Search" class="form-control" style="width: 50px"> {% endcomment %}
                        <button class="btn btn-outline-primary ml" type="submit" style="width: 50%">
                          Add to cart
                          <i class="fas fa-shopping-cart ml-1" ></i>
                        </button>
                    </form>
                    {% comment %} <a href="{{ product.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                        Add to cart
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </a>
                    <a href="{{ product.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                        Remove from cart
                    </a> {% endcomment %}
                </div>
            {% endfor %}
        </div>  
    </div>
    
{% endblock content %}